/*font-family: 'Arvo', serif;
font-family: 'Lalezar', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Sriracha', cursive;*/
:root {
  --primary-font-size: 30px;
  --secondary-font-size: 18px;
  --header-font-size: 60px;
  --primary-color: rgb(254, 140, 18);
  --secondary-color: rgb(13, 156, 164);
  --box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  --default-margin: 5px;
  --default-padding: 1px;
  --fade-color: #eeeaeb;
}
body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: var(--header-font-size);
  font-family: "Lalezar", cursive;
}
h2 {
  font-family: "Lalezar", cursive;
  font-size: 40px;
}
h3 {
  font-family: "Lalezar", cursive;
  font-size: 30px;
}
footer {
  margin: 50px 80px;
  padding: 10px 30px;
  border-radius: 10px;
  text-align: left;
  background: rgba(254, 140, 18, 0.8);
}
footer h2 {
  font-size: 30px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
footer h3 {
  font-size: 15px;
  opacity: 80%;
  font-family: "Poppins", sans-serif;
}
hr {
  margin: 20px 80px;
  border: 3px solid var(--primary-color);
  font-weight: 20px;
  color: var(--primary-color);
}
.topbar {
  margin: 20px 80px;
  background-color: var(--secondary-color);
  padding: 0;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
}
.hero {
  margin: 30px 80px;
  padding: 30px 30px;
  border-radius: 10px;
  text-align: left;
  background: var(--fade-color);
}
.education {
  margin: 30px 80px;
  padding: 30px 30px;
  border-radius: 10px;
  text-align: left;
  background: rgba(13, 156, 164, 0.5);
}
.work-experience {
  margin: 30px 80px;
  padding: 30px 30px;
  border-radius: 10px;
  text-align: left;
  background: rgba(254, 140, 18, 0.7);
}
.about-left {
  padding-left: 170px;
}

.hero h2 {
  font-size: var(--primary-font-size);
  font-family: "Lalezar", cursive;
  min-height: 3px;
  margin: 0;
}
.hero h3 {
  font-size: 20px;
  opacity: 0.7;
  font-family: "Poppins", sans-serif;
}

.my-works {
  margin: 50px 80px;
}
.my-works p {
  text-align: justify;
}

.project-image {
  box-shadow: var(--box-shadow);
}

.button {
  font-size: 12px;
  font-weight: bold;
}
.aboutpage-button {
  font-size: 12px;
  font-weight: bold;
  text-align: right;
}
.box-button {
  text-decoration: none;
  text-align: center;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding: 10px 15px;
  box-shadow: var(--box-shadow);
  background-color: var(--primary-color);

  font-family: "Poppins", sans-serif;
  color: white;
}
.box-button:hover {
  cursor: pointer;
  color: black;
  transition: linear;
}
.project-button {
  margin-top: 10px;
  text-decoration: none;
  text-align: center;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  padding: 10px 15px;
  box-shadow: var(--box-shadow);
  background-color: var(--secondary-color);
  font-family: "Poppins", sans-serif;
  color: white;
  width: 400px;
}
.project-button:hover {
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
  transition: ease-in-out;
  color: black;
}
.about {
  margin: 30px;
}
.about div {
  border: 2px solid var(--secondary-color);
  margin: 10px;
  box-shadow: var(--box-shadow);
}
.email {
  margin: var(--default-margin);
}
.email:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--secondary-color);
}

.name:hover {
  cursor: default;
}
.border-color {
  border: 1px solid var(--secondary-color);
}

.developer {
  border-radius: 250px;
  box-shadow: var(--box-shadow);
  background-color: white;
}
.personal {
  max-width: 70%;
  border-radius: 100%;
  box-shadow: var(--box-shadow);
  background-color: white;
  display: block;
  margin: 0 auto;
}
.introduction {
  opacity: 70%;
  font-family: "Poppins", sans-serif;
}
.contact-point {
  padding: 0;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.contact-point a {
  text-decoration: none;
  color: black;
}

.contact {
  margin: 50px 80px;
  padding: 50px 30px;
  border-radius: 10px;
  text-align: left;
}
.contact h2 {
  font-size: 30px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.contact h3 {
  font-size: 15px;
  opacity: 80%;
  font-family: "Poppins", sans-serif;
}
.contact img {
  max-width: 600px;
}
.works-text {
  margin: 0 5px;
  background-color: var(--fade-color);
  box-shadow: var(--box-shadow);
}
@media (max-width: 960px) {
  body {
  }
  .hero {
    text-align: center;
    margin: 20px 10px;
  }
  .my-works {
    margin: 50px 10px;
  }
  .works-text {
    padding: 20px 3px;
  }
  .hero h2 {
    font-size: 30px;
    font-family: "Lalezar", cursive;
    min-height: 3px;
    margin: 0;
  }
  .hero h3 {
    font-size: 20px;
    opacity: 0.7;
    font-family: "Poppins", sans-serif;
  }
  h1 {
    font-size: 35px;
    font-weight: bold;
    margin: 0;
  }
  h2 {
    font-size: 30px;
    margin: 10px;
  }
  h3 {
    font-size: 20px;
    opacity: 0.7;
  }

  .aboutpage-button {
    font-size: 12px;
    font-weight: bold;
    text-align: right;
  }
  .button {
    justify-content: center;
    line-height: 50px;
  }
  .box-button {
    font-size: 12px;
  }
  .box-button:hover {
    cursor: pointer;
    color: black;
    transition: linear;
  }
  .project-button {
    justify-content: center;
    text-align: center;
    width: 170px;
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 20px;
  }
  .project-button:hover {
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    transition: ease-in-out;
    color: black;
  }
}
